sample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/order"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/order"
             name="OrderService">

    <types>
        <xsd:schema targetNamespace="http://example.com/order">
            <xsd:element name="OrderRequest" type="tns:OrderRequestType"/>
            <xsd:element name="OrderResponse" type="tns:OrderResponseType"/>
            
            <xsd:complexType name="OrderRequestType">
                <xsd:sequence>
                    <xsd:element name="orderId" type="xsd:string"/>
                    <xsd:element name="customer" type="tns:CustomerType"/>
                    <xsd:element name="items" type="tns:ItemListType"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="OrderResponseType">
                <xsd:sequence>
                    <xsd:element name="orderId" type="xsd:string"/>
                    <xsd:element name="status" type="xsd:string"/>
                    <xsd:element name="timestamp" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="CustomerType">
                <xsd:sequence>
                    <xsd:element name="customerId" type="xsd:string"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ItemType">
                <xsd:sequence>
                    <xsd:element name="productId" type="xsd:string"/>
                    <xsd:element name="quantity" type="xsd:int"/>
                    <xsd:element name="price" type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ItemListType">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ItemType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="GetOrderRequest">
        <part name="parameters" element="tns:OrderRequest"/>
    </message>

    <message name="GetOrderResponse">
        <part name="parameters" element="tns:OrderResponse"/>
    </message>

    <portType name="OrderPortType">
        <operation name="GetOrder">
            <input message="tns:GetOrderRequest"/>
            <output message="tns:GetOrderResponse"/>
        </operation>
    </portType>

    <binding name="OrderBinding" type="tns:OrderPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetOrder">
            <soap:operation soapAction="http://example.com/order/GetOrder"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="OrderService">
        <port name="OrderPort" binding="tns:OrderBinding">
            <soap:address location="http://example.com/order"/>
        </port>
    </service>

</definitions>
